body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;

}

.logo-studio {
    color: #2E2F42;
}

.logo-studio-white {
    color: #f4f4fd;
}

.internal-link{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.internal-link:hover,
.internal-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.contact {
    font-style: normal;
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color:#434455;
}

.dark-box {
    background-color: #2E2F42;
}

.title-text {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.title-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
}

.title-button:focus,
.title-button:hover {
    background-color: #404bbf;
}

.description-header {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.description{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.description-white{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
}

.team {
    background-color: #F4F4FD;
}

.section-header {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.person-in-team {
    background-color: #FFFFFF;
}
